{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/core/includes/nav.css' %}">
{% endblock %}

{% block content %}
{% endblock %}

{% with url_name=request.resolver_match.url_name %}

<div class="nav-sticky">
    <nav id="nav">

        <a href="{% url 'core:home' %}" class="nav-logo">
            <img src="{% static 'imgs/logo.svg' %}" alt="CSGR-IA">
            <div class="nav-logo-text">
                <strong>CSGR-IA</strong>
                <span>Comité Scientifique de Recherche</span>
            </div>
        </a>

        <ul class="nav-menu">
            <li class="nav-item">
                <a href="{% url 'core:home' %}" class="nav-link {% if url_name == 'home' %}active{% endif %}">
                    Accueil
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'core:apropos' %}" class="nav-link {% if url_name == 'apropos' or url_name == 'pole_detail' %}active{% endif %}">
                    À Propos
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'actualite:actualite_index' %}" class="nav-link {% if url_name == 'actualite_detail' or url_name == 'actualite_event_detail' or url_name == 'actualite_index' %}active{% endif %}">Actualités</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'core:contact' %}" class="nav-link {% if url_name == 'contact' %}active{% endif %}">Contact</a>
            </li>
            <li class="nav-item">
                <button class="nav-link {% if url_name == 'communaute' %}active{% endif %} js-dropdown-toggle ">
                    Plus
                    <svg class="nav-chevron" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5">
                        <path d="M6 9l6 6 6-6"/>
                    </svg>
                </button>
                <div class="nav-dropdown">
                    <a href="{% url 'core:communaute' %}" class="nav-link {% if url_name == 'communaute' %}active{% endif %}">Communauté</a>
                    <a href="#">Recherche</a>
                    <a href="#">Membres</a>
                </div>
            </li>
        </ul>

        <div class="nav-cta">
            <a href="{% url 'core:contact' %}" class="btn-nav-cta" role="button">Rejoindre le comité</a>
        </div>

        <button class="nav-burger" id="navBurger" aria-label="Menu">
            <span></span><span></span><span></span>
        </button>
    </nav>
</div>

<div class="nav-mobile" id="navMobile">
    <ul>
        <li>
            <a href="{% url 'core:home' %}" class="nav-link {% if url_name == 'home' %}active{% endif %}">
                Accueil
            </a>
        </li>
        <li>
            <a href="{% url 'core:apropos' %}" class="nav-link {% if url_name == 'apropos' %}active{% endif %}">
                À Propos
            </a>
        </li>
        <li><a href="{% url 'actualite:actualite_index' %}" class="nav-link {% if url_name == 'actualite_detail' or url_name == 'actualite_event_detail' or url_name == 'actualite_index' %}active{% endif %}">Actualités</a></li>
        <li><a href="{% url 'core:contact' %}" class="nav-link {% if url_name == 'contact' %}active{% endif %}">Contact</a></li>
        <li>
            <button class="nav-link {% if url_name == 'communaute' %}active{% endif %} js-mobile-toggle">
                Plus
                <svg class="nav-chevron" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5">
                    <path d="M6 9l6 6 6-6"/>
                </svg>
            </button>
            <div class="nav-mobile-sub">
                <a href="{% url 'core:communaute' %}" class="nav-link {% if url_name == 'communaute' %}active{% endif %}">Communauté</a>
                <a href="#">Recherche</a>
                <a href="#">Membres</a>
            </div>
        </li>
    </ul>
    <div class="nav-mobile-divider"></div>
    <button class="btn-nav-cta">Rejoindre le comité</button>
</div>

<script src="{% static 'js/core/includes/nav.js' %}"></script>
{% endwith %}